@model Producto
    <h3 id="tittle">Registrar Producto</h3><hr>
        <div class="form1">
                
               
               <div class="container">
   
   <form  method="post" asp-controller="Producto" asp-action="Registrar">
    
<div>
    <label><b>Código de planta</b></label>
    <input type="text" class="control" asp-for="codigo" placeholder="Ingrese código" maxlength="20" minlength="3"  required>
<label></label><br> <br></div>

    <div>
    <select class="control" asp-for="estado" required>
                                    <option value="" disabled="" selected="">Estado</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Desactivo">Desactivo</option>
                                   
                                </select>
                                <label></label><br> <br></div>

<div>
    <label ><b>Fecha</b></label>
    <input class="control" type="date"  asp-for="fecha" required>
    <label></label><br> <br></div>
<br>
   
    
   

    <input type="submit" class="btn btn-success" id="btnRegister" asp-controller="Producto" asp-action="Registrar" value="Registrar">
  </form></div>