 @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{  
ViewBag.Title = "Inicio";  
}  
<div class="row">
        <div class="welcome">
        <div class="col-md-12">
            <h1  ><span>B</span><span>I</span><span>E</span><span>N</span><span>V</span><span>E</span><span>N</span><span>I</span><span>D</span><span>O</span></h1>
        
         </div>
        </div>
    </div>
