@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    background-color: #fff;
}

#imagen{
    width: 250px;
    height: 250px;
  }

.full-cover-background{
    background-attachment: fixed;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}


.navbar-user-top{
    background-color: #333;
    height: 55px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 7;
}
.navbar-user-top > ul{
    height: 55px;
    padding: 0 15px;
    margin: 0;
}
.navbar-user-top > ul > li{
    display: inline-block;
    color: rgba(255,255,255,.4);
    height: 55px;
    float: right;
    margin: 0 12px;
    text-align: center;
    cursor: pointer;
    line-height: 55px;
}



.navbar-user-top > ul > figure > img{
    width: 45px;
    float: right;
    height: 45px;
    border: 2px solid #728890;
    margin-top: 5px;
}
.navbar-lateral{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.name_logo{
    padding: 10px;
    font-family: 'Balsamiq Sans', cursive;
    text-align:"center";
  
    height:100%;
    width:100%;
    padding: 10px;
  
}
.name_logo h1{
      color: #74f77d;
}
.container-menu-movile{
    background-color: #33414E;
    height: 100% !important;
}

.content-page-container{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    background-color: #fff;
}
.nav-lateral-list-menu  ul  li{
    margin: 0;
    padding: 0;
    display: block;
}
.nav-lateral-list-menu ul li a,
.nav-lateral-list-menu ul li div{
    width: 100%;
    min-height: 45px;
    line-height: 45px;
    display: block;
    padding: 0;
    padding-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(230,233,238,.1);
    transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
}
.nav-lateral-list-menu i{
    font-size: 18px;
    line-height: 45px;
}
.nav-lateral-list-menu ul li a:hover{
    background-color: #485e48;
}
.nav-lateral-list-menu ul li a:active,
.nav-lateral-list-menu ul li a:focus{
    outline: none;
}


.nav-lateral-list-menu ul li a:hover span,
.mobile-menu-container ul li a:hover span{
    background-color: #333;
    color: #fff;
}
.nav-lateral-list-menu ul li ul{
    background-color: rgb(43,61,81);
    display: none;
}

.nav-lateral-list-menu ul li ul li a{
    padding-left: 30px;
}

.welcome{
    text-align: center;
    margin: 100px;

}
h1 span {
    display:inline-block;
    animation:float .2s ease-in-out infinite;
    color:hsl(141, 100%, 39%) ;
    font-size: 50px;
     font:bold 7.5vw/1.6 'Signika', sans-serif;
  }
  @keyframes float {
       0%,100%{ 
         transform:none; 
       }
      33%{ 
       transform:translateY(-1px) rotate(-2deg); 
       }
     66%{ 
       transform:translateY(1px) rotate(2deg); 
       }
 }


#tittle{
 font-size: 40px;
}


.form1{
    width: 98%;
    margin: 25px auto;
   position: relative;
    padding-bottom: 25px;
}

input[type=text], input[type=password] , input[type=email], input[type=date], input[type=number], select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus , input[type=email], input[type=date], input[type=number] {
  background-color: #ddd;
  outline: none;
}





input.control:focus ~ label, 
input.control:valid ~ label{
  top:-20px;
  font-size:17px;
  font-weight: 700;
  color:#333;
  font-weight: normal;
}


input.control:focus:invalid ~ label:after{
    content: "Campo inválido";
    margin: 0 5px;
    padding: 0 5px;
    font-size: 14px;
    color: #f01f18;
    
    border-radius: 4px;
    font-weight: normal;
}
input.control:focus:invalid:required,
input.control:invalid:required{
  outline: none;
  box-shadow: none;
}




@media (max-width: 767px) {
    .navbar-lateral{
        position: fixed;
        width: 100%;
        z-index: 9999;
        background-color: transparent;
        display: none;
    }
    .container-menu-movile{
        width: 320px;
        position: relative;
        z-index: 7;
    }
    .font-movile-menu{
        position: fixed;
        background-color: rgba(0,0,0,.5);
        z-index: 2;
        height: 100%;
        width: 100%;
    }
    .form-container{ width: 97%; max-width: 400px;}  
    .content-page-container{ width: 100%; }
    .navbar-user-top > ul > li{ margin: 0 10px; }
 
    .table-responsive {
        margin-bottom: 0 !important;
        border: none !important;
    }
    .modal-body {
        max-height: 300px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .form-container{ width: 370px; }
    .navbar-lateral{ width: 30%; display: inherit !important; }
    .content-page-container{ width: 70%; }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .form-container{ width: 370px; }
    .navbar-lateral{ width: 25%;  display: inherit !important; }
    .content-page-container{ width: 75%; }
}


@media (min-width: 1200px) {
    .form-container{ width: 370px; }
    .navbar-lateral{ display: inherit !important; }
}